---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Astro Hackernews"/>
    <title>Astro/Solid - Hacker News</title>
  </head>
  <body>
    <header class="header">
      <nav class="inner">
        <a href="/">
          <strong>HN</strong>
        </a>
        <a href="/new">
          <strong>New</strong>
        </a>
        <a href="/show">
          <strong>Show</strong>
        </a>
        <a href="/ask">
          <strong>Ask</strong>
        </a>
        <a href="/job">
          <strong>Jobs</strong>
        </a>
        <a class="github" href="https://github.com/withastro/astro" target="_blank" rel="noreferrer">
          Built with Astro + Solid
        </a>
      </nav>
    </header>
    <slot></slot>
  </body>
</html>